<h1>About Me</h1>

<p>
  <img class="profile" src="/images/me.jpg" alt="Jairo Eli" title="Jairo Eli" />
  I am a former designer turned software engineer specializing in iOS. Overly passionate about pixel arts, museums, tennis, and indie games.</p>

<h2 id="contact">Contact</h2>

<ul>
  <li>Send an email to <a href="mailto:jairoelid@gmail.com">jairoelid@gmail.com</a></li>
  <li>Message me on <a href="https://twitter.com/jairoelid">Twitter</a> or <a href="https://linkedin.com/in/jairoeli">LinkedIn</a></li>
</ul>
